@charset "UTF-8";

/**
 * Основные стили
 **/

html {
	font-size: 16px;
	color: $black;
}

body {
	//width: 1024px;
	font-family: Museo, Arial, sans-serif;
	font-weight: 100;
}

.container {
	@include min-max(320px, 100%, 0);
	background: $primary;
}

