$input_border_color: #E7E7E7;

// div {
//     border: solid 1px #000;
// }

.contaner {
    margin: auto;
    font-weight: 700;
    //width: 1024px;
    height: 2591px;
    //text-align: center;

}

.h1 {
    margin: 46px 0 0 0;
    text-transform: uppercase;
    text-align: center;
}

.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 32px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -webkit-font-feature-settings: 'liga';
    -webkit-font-smoothing: antialiased;
}

.cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: #E7E7E7;
}

.card {
    width: 36.9%;
    padding: 46px 0.97% 10px 12.116%;
    height: 35.75%;
    background-color: #fff;
}

.card-2 {
    width: 36.9%;
    padding: 46px 12.116% 10px 0.97%;
    background-color: #fff;
}

.card-img {
    // display: flex;
    // flex-direction: column;
    position: relative;
    // height: 54.60%;

    img {

        width: 100%;
    }

    .price {
        position: absolute;
        bottom: 4px;
        background-color: #FFD241;
        width: 160px;
        height: 60px;
        text-align: center;

        display: flex;
        align-items: center;
        justify-content: center;

        p {
            margin: 0;
            line-height: 50px;
            font-size: 18px;
            font-weight: 900;
            color: #000;
            text-transform: uppercase;
        }

    }

}

.card-body {

    text-align: left;
}

.card-body>h4 {
    margin-inline-start: 0;
    margin-inline-end: 0;
    margin-block-start: 0;
    margin-block-end: 0;
    font-size: 9px;
    line-height: 11px;
    color: #C5B223;
    font-weight: 100;
    text-transform: uppercase;
    padding: 7px 0 4px 0;


}

h2 {
    margin-block-start: 0;
    margin-block-end: 0;
    margin-bottom: 10px;
    font-size: 18px;
    line-height: 22px;
    font-weight: 700;

}

p {
    margin-block-start: 0;
    margin-block-end: 0;
    margin: 10px 0 9px 0;
    font-size: 9px;
    font-weight: 300;
    line-height: 13px;

    color: #8C8C8C;
}

.day {
    font-size: 9px;
    line-height: 11px;
}

.date {
    font-size: 9px;
    line-height: 11px;
}

.avia {
    color: #fff;
    font-size: 9px;
    line-height: 11px;
    font-weight: 100;
    text-align: center;
    margin-top: 12px;
    padding-top: 6px;
    vertical-align: middle;
    width: 130px;
    height: 17px;
    background: #CB0037;
    border-radius: 3px;
}

.bid {
    .hr {
        display: none;
    }

    h1 {
        text-align: center;
        margin: 67px 0 70px 0;
        text-align: center;

    }

    .error_input {
        color: #CB0037;
        font-style: normal;
        font-weight: normal;
        font-size: 10px;
        line-height: 12px;
        margin-top: 9px;
        display: inline-block;

    }

    .about-you {
        margin: 0 11.91% 0 11.91%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;

        .label {
            order: -1;
            width: 100%;

            p {
                display: inline-block;
                padding-bottom: 5px;
                border-bottom: 2px solid #000;
                margin-bottom: 23px;
            }
        }


    }

    .about-travel {
        margin: 0 11.91% 0 11.91%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;

        .label {
            order: -1;
            width: 100%;

            p {
                display: inline-block;
                padding-bottom: 5px;
                border-bottom: 2px solid #000;
                margin-bottom: 23px;
            }
        }
    }

    .about-you label,
    .about-travel label {
        display: inline-block;
        margin: 8px 0;
        font-size: 10px;
        line-height: 12px;
        text-transform: uppercase;
    }

    input[type=text] {
        width: 380px;
        height: 50px;
        border: 1px solid $input_border_color;
        box-sizing: border-box;
        border-radius: 3px;
    }

    .field {
        color: #CB0037;
    }

    div {
        position: relative;
    }

    .check {
        margin: 0 11.91% 50px 11.91%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;

        .checkbox {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: center;
            position: relative;

            label {
                display: inline-block;
                padding: 0;
                text-align: center;
            }

            input[type=checkbox] {
                position: absolute;
                top: 0;
                left: 0;

            }
        }

        .form-footer .checkbox {
            label {
                padding-left: 22px;
            }

            input[type=checkbox] {
                position: absolute;
                top: 0;
                left: 0;

            }
        }

        .checkbox,
        .form-footer .checkbox {
            position: relative;

            input[type="checkbox"] {
                opacity: 0;
            }



            input {
                opacity: 0;
            }

            label {
                position: absolute;
                bottom: 0;
            }

            label {
                position: relative;
                display: inline-block;

                /*16px width of fake checkbox + 6px distance between fake checkbox and text*/

            }

            label::before,
            label::after {
                position: absolute;

                /*Needed for the line-height to take effect*/
                display: inline-block;
                border-radius: 3px;
            }

            label:before {
                content: "";
                display: inline-block;
                width: 40px;
                height: 40px;
                border: 1px solid #e7e7e7;
                background-color: #fff;
                position: absolute;
                margin-left: auto;
                margin-right: auto;
                top: 25px;
                left: 0;
                right: 0;
                bottom: 0;
                // z-index: 1;

            }

            label:after {
                content: "";
                display: inline-block;
                width: 40px;
                height: 40px;
                background-image: url('/img/Vector.jpg');
                background-position: center;
                background-repeat: no-repeat;
                border: 1px solid #e7e7e7;
                //background-color: green;
                border-image: 3;
                background-size: 17px 17px;
                // transform: rotate(-90deg);
                margin-left: auto;
                margin-right: auto;
                top: 25px;
                left: 0;
                right: 0;
                bottom: 0;
                // opacity: 0;
                //   z-index: 3;
            }

            input[type="checkbox"]+label::after {
                content: none;
            }

            input[type="checkbox"]:checked+label::after {
                content: "";

            }
        }


    }

    .preferred_method {
        width: 48.5%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;

        .label {
            order: -1;
            width: 100%;
            text-align: left;
            margin: 0;

            p {
                display: inline-block;
                padding-bottom: 5px;
                border-bottom: 2px solid #000;
                margin: 38px 0 23px 0;
            }
        }

        div {
            width: 10%;
            margin: 10px 20px 10px 20px;
            text-align: center;
            font-size: 10px;
            line-height: 12px;
        }
    }

    .form-footer {
        margin: 0 11.91% 0 11.91%;

        .checkbox {
            position: relative;

            input[type="checkbox"] {
                opacity: 0;
            }

            label {
                position: absolute;
                top: 0;
                left: 0;
            }

            label {
                padding: 0 5px 0 12px;
                position: relative;
                display: inline-block;

                /*16px width of fake checkbox + 6px distance between fake checkbox and text*/
                //padding-left: 22px;

                b {
                    display: inline-block;
                    font-style: normal;
                    font-weight: 500;
                    font-size: 10px;
                    line-height: 12px;
                }
            }

            label::before,
            label::after {
                position: absolute;
                width: 15px;
                height: 15px;

                /*Needed for the line-height to take effect*/
                display: inline-block;
                border-radius: 3px;
            }

            label:before {
                content: "";
                display: inline-block;
                border: 1px solid #e7e7e7;
                background-color: #fff;
                position: absolute;
                top: 0px;
                left: -20px;
                // z-index: 1;


            }

            label:after {
                content: "";
                display: inline-block;
                background-image: url('/img/Vector.jpg');
                background-position: center;
                background-repeat: no-repeat;
                border: 1px solid #e7e7e7;
                //background-color: green;
                background-size: 9px 4px;
                // transform: rotate(-90deg);
                top: 0px;
                left: -20px;
                // opacity: 0;
                //   z-index: 3;
            }

            input[type="checkbox"]+label::after {
                content: none;
            }

            input[type="checkbox"]:checked+label::after {
                content: "";

            }
        }

        // label {
        //     position: absolute;
        //     margin: 4px 15px 4px 15px;
        //     font-style: normal;
        //     font-weight: 500;
        //     font-size: 10px;
        //     //line-height: 12px;

        // }

        p {
            margin: 11px 10px 40px 30px;
        }


        // input[type=checkbox] {
        //     width: 15px;
        //     height: 15px;
        //     background: #FFFFFF;
        //     border: 1px solid #CB0037;
        //     box-sizing: border-box;
        //     border-radius: 3px;
        // }

        input[type=submit] {
            width: 280px;
            height: 49px;
            background: #FFD241;
            border-radius: 29.5px;
            box-shadow: none;
            border: none;
        }
    }

    @media only screen and (max-width: 1024px) {
        .about-you {
            flex-direction: column;

            //flex-wrap: wrap;
            div {
                width: 100%;

                input[type=text] {
                    width: 100%;
                }
            }
        }

        .about-travel {
            flex-direction: column;

            //flex-wrap: wrap;
            div {
                width: 100%;

                input[type=text] {
                    width: 100%;
                }
            }
        }

        .bid .check {
            flex-direction: column;
            align-items: flex-start;

            div {
                width: 100%;
            }

        }
    }
}

@media only screen and (min-width: 375px) and (max-width: 768px) {

    .card {
        width: 100%;
        padding: 46px 18px 10px 18px;
        height: 35.75%;
        background-color: #fff;
    }

    .card-2 {
        width: 100%;
        padding: 46px 18px 10px 18px;
        background-color: #fff;
    }

    .bid {
        .hr {
            display: block;
            margin: 33px 18px;
            width: 340px;
            height: 2px;
            background: #C4C4C4;

        }

        h1 {
            text-align: left;
            margin: 0 18px;

        }

        .about-you {
            margin-left: 18px;
            margin-right: 18px;
        }

        .about-travel {
            margin-left: 18px;
            margin-right: 18px;
        }

        .check {
            margin-left: 18px;
            margin-right: 18px;
            flex-direction: column;

            .preferred_method {
                width: 100%;
            }
        }


        .form-footer {
            margin-left: 18px;
            margin-right: 18px;

            .btn {
                margin-left: 12.56%;
                margin-right: auto;
            }
        }
    }


}