$menuBg: #FFD241;

.nav {
  margin: 5px 10px 5px 10px;
  background-color: #000000;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  width: 100%;
  height: 60px;
}

.pickup {
  background-color: $menuBg;
  margin: 0;
  padding: 0;
  position: absolute;
  top: 60px;
  right: 0;
  width: 50%;
  
  z-index: 999;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

ul{
  align-self: center;
  width: 100%;
  margin: 0;
  padding: 0;
}

li {
  align-items: center;
  color: #000000;
  cursor: pointer;
  display: flex;
  height: 2em;
  justify-content: center;
  list-style-type: none;
  text-transform: uppercase;
  transition: all .3s ease;

}

li>a {
  text-decoration: none;
  color: #000;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  letter-spacing: 0.1em;
}

li:hover {
  border: 1px solid #fac000;
  background-color: #fdc91f;
}

.select-css { 
  display: block; 
 /* Rectangle 2.11 */

// position: absolute;
width: 150px;
height: 49px;
// left: 48px;
// top: 101px;
border: none;
margin: 10px 10px 10px 10px;
background: #FFFFFF;
border-radius: 29.5px;

  } 
   .select-css::-ms-expand { display: none; } 
   .select-css:hover {/* Rectangle 15 */

       
    background: #FFFFFF;
    border-radius: 29.5px;
     } 
   .select-css:focus { border-color: #aaa; 
   box-shadow: 0 0 1px 3px rgba(59, 153, 252, .7);
   box-shadow: 0 0 0 3px -moz-mac-focusring; 
  color: #222;
   outline: none; 
  } 
   .select-css option { 
    display: flex; 
    font-weight:normal; border: none;
    margin: 10px 10px 10px 10px;
    background: #FFFFFF;
    border-radius: 29.5px; } 
  //  *[dir="rtl"] .select-css, :root:lang(ar) .select-css, :root:lang(iw) .select-css { 
  // background-position: left .7em top 50%, 0 0; 
  // padding: .6em .8em .5em 1.4em; 
  // }